@import "./palette.scss";
@import "./iconfont.scss";
@import "./body-background.scss";

.dropdown-wrapper .dropdown-item .dropdown-subtitle {
	font-size: 14px;
	color: #45465e;
}

.dropdown-subitem {
	position: relative;
}

// 修改导航栏样式，添加下拉菜单 hover 和 .active 后的样式
.navbar {
	.nav-link {
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			display: block;
			width: 0;
			height: 1px;
			background-color: $theme-color;
		}

		&:hover::before {
			width: 100%;
			transition: all 0.5s ease;
		}

		&.active::before {
			content: "";
			position: absolute;
			bottom: 0;
			display: block;
			width: 100%;
			height: 1px;
			background-color: $theme-color;
		}
	}
}

// 修改文章二级标题样式，添加了风车图标
.theme-hope-content {
	position: relative;

	h2 {
		.header-anchor {
			position: relative;
			opacity: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 2rem;

			&::before {
				@extend .iconfont;
				position: absolute;
				content: "\e610";
				font-size: 2.5rem;
				animation: fengche 2s infinite linear;
			}

			&:hover::before {
				animation-play-state: paused;
			}

			@keyframes fengche {
				to {
					transform: rotate(360deg);
				}
			}
		}
	}

	h3 {
		.header-anchor {
			position: relative;
			opacity: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 1.5rem;

			&::before {
				@extend .iconfont;
				position: absolute;
				content: "\e6f3";
				font-size: 1.5rem;
			}
		}
	}
}

// 修改文章一级标题，添加木马图标
.page-title {
	h1 {
		position: relative;
		padding-left: 1.5rem;

		&::before {
			@extend .iconfont;
			content: "\e64b";
			font-size: 2.5rem;
			position: absolute;
			transform-origin: 50% 100%;
			transform: translateX(-2.8rem) rotate(0);
			animation: muma 1.5s infinite alternate-reverse ease-in-out;
		}

		@keyframes muma {
			from {
				transform: translateX(-2.8rem) rotate(-15deg);
			}

			to {
				transform: translateX(-2.8rem) rotate(15deg);
			}
		}
	}
}

$sidebarList: "\e604", "\e60b", "\e60e", "\e613", "\e614", "\e615", "\e616", "\e61a", "\e61b", "\e61d";

// 侧边栏
.sidebar-heading {
	&::before {
		@extend .iconfont;
		content: "\e613";
		font-size: 2rem;
	}

	&.active::before {
		@extend .iconfont;
		content: "\e60b";
		font-size: 2rem;
	}
}

.sidebar {
	background: transparent;
	backdrop-filter: none;
}

// 页面内容
.theme-container {
	background: transparent;
	// backdrop-filter: blur(1.5px);
}

// 页面信息
.page-info {
	transform: translateX(1.5rem);
}

// 返回顶部按钮
.back-to-top-icon {
	animation: backtotop 0.8s infinite alternate;

	@keyframes backtotop {
		from {
			transform: translateY(0.3rem);
		}

		to {
			transform: translateY(-0.3rem);
		}
	}
}

// 固定 body 背景纹理，不随滚动条滚动
body {
	background-attachment: fixed;
}
