/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
// @font-face {
//   font-family: "阿里妈妈数黑体 Bold";
//   font-weight: 700;
//   src: url("//at.alicdn.com/wf/webfont/Dfxgs77wcxAo/YyLVGhBEL-xU0SExa2cfg.woff2") format("woff2"),
//     url("//at.alicdn.com/wf/webfont/Dfxgs77wcxAo/yiiOftVYXCWSBgRbOmNGA.woff") format("woff");
//   font-display: swap;
// }

// 普通文本上使用的字体
// $font-family: 'Alimama_ShuHeiTi_Bold';
// 代码上使用的字体
$font-family-code: 'Maple Mono';
// 花哨元素上使用的字体
$font-family-fancy: 'Maple Mono';
// 主题颜色
$theme-color: #88bfb8;