// 普通文本上使用的字体
// $font-family: 'Maple Mono';
// 代码上使用的字体
$font-family-code: 'Maple Mono';
// 花哨元素上使用的字体
$font-family-fancy: 'Maple Mono';
// 主题颜色
$theme-color: #88bfb8;


.dropdown-wrapper .dropdown-item .dropdown-subtitle {
  font-size: 14px;
  color: #45465e;
}

.dropdown-subitem {
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: $theme-color;
}

.nav-link:hover::before {
  width: 100%;
  transition: all 0.5s ease;
}

.nav-link.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: $theme-color;
}